<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layoutBase(~{::contenido})">

<div th:fragment="contenido">
	<div class="container mt-5">
		<div class="card shadow-lg">
			<div class="card-body">
				<div class="row">
					<div class="col-md-10">
						<h1 class="card-title">Listado de boletas</h1>
					</div>
					<div class="col-md-2">
						<a th:href="@{/boleta/nuevo}" class="btn btn-success w-100"> <i class="fa-solid fa-plus"></i>
							Nuevo
						</a>
					</div>
				</div>

				<!-- Formulario de filtro -->
				<div class="row mb-3">
					<fieldset class="border border-2 border-dark pb-2">
						<legend class="float-none w-auto px-2">Filtros</legend>
						<form method="get" action="#">
							<div class="row align-items-end">
								<div class="col-md-6">
									<!--Agrega tu filtro-->
								</div>
								<div class="col-md-6 text-end">
									<button type="submit" class="btn btn-outline-dark">
										<i class="fa-solid fa-binoculars"></i> Buscar
									</button>
									<a href="#" class="btn btn-outline-secondary">
										<i class="fa-solid fa-broom"></i> Limpiar
									</a>
								</div>
							</div>
						</form>
					</fieldset>
				</div>


				<table id="tbl-boleta" class="table table-hover table-striped table-borderless align-middle">
					<thead class="table-dark text-center">
						<tr>
							<th>Número</th>
							<th>Fecha de registro</th>
							<th>Usuario</th>
							<th>Rol</th>
							<th>Total</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody class="table-secondary">
						<tr th:each="item : ${lstBoletas}">
						<td th:text="${item.numBoleta}" class="text-center"></td>
						<td th:text="${item.fechaRegistro}" class="text-center"></td>
						<td th:text="${item.usuario.fullName}"></td>
						<td th:text="${item.usuario.tipo.descripcion}"></td>
						<td th:text="|S/. ${#numbers.formatDecimal(item.total,1,2,'POINT')}|" class="text-end">
						</td>
						<td class="text-center">
							<a th:href="@{/reporte/boleta(numBol=${item.numBoleta})}" target="_blank"
								class="text-danger">
								<i class="fa-solid fa-file-pdf fa-lg"></i>
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function () {
			$('#tbl-boleta').DataTable({
				language: {
					search: "Buscar: ",
					url: 'https://cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
				}
			});
		});
	</script>
</div>

</html>