<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layoutBase(~{::contenido})">

<div th:fragment="contenido">

	<div class="container mt-4">

		<form th:action="@{/boleta/registrar}" method="post">
			<div class="row mb-3 mt-5 align-items-center">
				<div class="col-md-10">
					<h1 class="m-0">Emisión de boleta</h1>
				</div>

				<div class="col-md-2">
					<button type="submit" class="btn btn-primary w-100">
						Registrar
						<i class="fa-solid fa-floppy-disk"></i>
					</button>
				</div>
			</div>

			<!-- Información de la Boleta -->
			<div class="card mb-4">
				<div class="card-body">
					<p class="m-0">
						<strong>Fecha:</strong> <span
							th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span>
					</p>
				</div>
			</div>
		</form>

		<!-- Sección de Selección de Productos -->
		<div class="card mb-4">
			<div class="card-body">

				<!-- Botón para abrir el modal -->
				<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalProductos">
					<i class="fa-solid fa-magnifying-glass"></i> Seleccionar Producto
				</button>

				<!-- Producto Seleccionado -->
				<form id="form-agregar" novalidate th:action="@{/boleta/agregar}" method="post"
					th:object="${productoSeleccionado}" class="needs-validation">
					<div class="row g-2 align-items-end">
						<div class="col-md-2">
							<label for="idProducto">Código</label>
							<input type="text" class="form-control" th:field="*{idProducto}" readonly>
						</div>
						<div class="col-md-4">
							<label for="descripcion">Nombre</label>
							<input type="text" class="form-control" th:field="*{descripcion}" readonly>
						</div>
						<div class="col-md-2">
							<label for="precio">Precio</label>
							<input type="text" class="form-control" th:field="*{precio}">
						</div>
						<div class="col-md-2">
							<label for="cantidad">Cantidad</label>
							<input type="number" class="form-control" th:field="*{cantidad}">
						</div>
						<div class="col-md-2 d-grid">
							<button class="btn btn-success">
								<i class="fa-solid fa-plus"></i> Agregar
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Tabla de Detalle de Productos -->
		<div class="card">
			<div class="card-body">
				<h5>Detalle de Productos</h5>
				<div class="table-responsive">
					<table class="table table-bordered align-middle">
						<thead class="table-dark text-center">
							<tr>
								<th>Código</th>
								<th>Nombre</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Subtotal</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${seleccionados}">
								<td th:text="${item.idProducto}" class="text-center"></td>
								<td th:text="${item.descripcion}"></td>
								<td th:text="|S/. ${#numbers.formatDecimal(item.precio, 1, 'COMMA', 2, 'POINT')}|"
									class="text-end"></td>
								<td th:text="${item.cantidad}" class="text-end"></td>
								<td th:text="|S/. ${#numbers.formatDecimal(item.subtotal, 1, 'COMMA', 2, 'POINT')}|"
								 class="text-end"></td>
								<td class="text-center">
									<form th:action="@{/boleta/remover}" method="post">
										<input type="hidden" name="id" th:value="${item.idProducto}" />
										<button class="btn btn-danger btn-sm">
											<i class="fa-solid fa-trash"></i> Remover
										</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<!-- Freagmento Modal de Selección de Productos -->
	<div th:replace="fragmento/modal-productos :: modal-productos(${productos}, 'modalProductos')"></div>

	<th:block th:utext="${alert}"></th:block>

	<!-- Script con jQuery -->
	<script>
		$(document).ready(function () {

			// Seleccionar producto desde el modal ya asignar los controles respectivamente
			$(document).on('click', '.btnSeleccionar', function () {
				let idProducto = $(this).data('param1');
				let descripcion = $(this).data('param2');
				let precio = $(this).data('param3');

				$('#idProducto').val(idProducto);
				$('#descripcion').val(descripcion);
				$('#precio').val(precio);
				$('#cantidad').val(1);

				// Forzar revalidación de los controles
				$('#idProducto').valid();
				$('#descripcion').valid();
				$('#precio').valid();
				$('#cantidad').valid();

				$('#modalProductos').modal('hide');
			});
		});

		$(document).ready(function () {
			$("#form-agregar").validate({
				rules: {
					descripcion: {
						required: true
					},
					precio: {
						required: true,
						min: 0.01
					},
					cantidad: {
						required: true,
						min: 1
					}
				},
				messages: {
					descripcion: {
						required: "seleccione un producto"
					},
					precio: {
						required: "campo requerido",
						min: "precio no puede ser 0"
					},
					cantidad: {
						required: "campo requerido",
						min: "cantidad min 1"
					}
				},
				errorElement: 'div',
				errorClass: 'invalid-tooltip',
				highlight: function (element) {
					$(element).addClass('is-invalid').removeClass('is-valid');
				},
				unhighlight: function (element) {
					$(element).removeClass('is-invalid').addClass('is-valid');
				}
			});
		});
	</script>
</div>

</html>